<div class="container">
  <form [formGroup]="recipeForm" (ngSubmit)="submitForm()">
    
    <!-- Submit button  -->
    <button type="submit" class="btn btn-success">{{editMode ? 'Update' : 'Add Recipe'}}</button>
    <!-- cancel button - Retuns to previous page -->
    <button type="button" class="btn btn-danger m-2" (click)="onCancel()">Cancel</button>
    <hr>
    <!-- name  -->
    <div class="form-group">
      <label for="recipename">Recipe Name</label>
      <input 
      type="text" 
      name="name" 
      formControlName="name"
      id="recipename" 
      [ngClass]="{'is-invalid': submitted && recipeForm.get('name').invalid}"
      class="form-control"
      placeholder="Enter Recipe Name">
      <div class="invalid-feedback" *ngIf="submitted && recipeForm.get('name').invalid">
        <div *ngIf="recipeForm.get('name').errors['required']">Field cannot be Empty</div>
      </div>
    </div>
    <!-- description  -->
    <div class="form-group">
      <label for="recipedescription">Recipe Description</label>
      <textarea 
      placeholder="Enter Description" 
      class="form-control" 
      [ngClass]="{'is-invalid': submitted && recipeForm.get('description').invalid}"
      name="description" 
      formControlName="description"
      id="recipedescription" 
      cols="30" 
      rows="5"></textarea>
      <div class="invalid-feedback" *ngIf="submitted && recipeForm.get('description').invalid">
        <div *ngIf="recipeForm.get('description').errors['required']">Field cannot be Empty</div>
        <div *ngIf="recipeForm.get('description').errors['minlength']">Aleast 20 char of description required</div>
      </div>
    </div>
    <!-- image path  -->
    <div class="form-group">
      <label for="recipeurl">Recipe Name</label>
      <input 
      type="text" 
      name="recipeurl" 
      formControlName="imagePath"
      id="recipeurl" 
      [ngClass]="{'is-invalid': submitted && recipeForm.get('imagePath').invalid}"
      class="form-control"
      placeholder="Enter Image URL">
      <div class="invalid-feedback" *ngIf="submitted && recipeForm.get('imagePath').invalid">
        <div *ngIf="recipeForm.get('imagePath').errors['required']">Field cannot be Empty</div>
      </div>
    </div>
    <!-- Recipe  -->
    <div class="form-group">
      <label *ngIf="recipeForm.get('ingredients')['controls'].length > 0">Ingredients</label>
      <div class="container form-group" formArrayName="ingredients">
        <div 
        style="margin-top: 10px;"
        *ngFor="let ingredientCtrl of recipeForm.get('ingredients')['controls']; let i = index"
        class="row"
        [formGroupName]="i">
          <div class="col-7" class="form-group">
            <input 
            formControlName="name" 
            placeholder="Ingredient"
            class="form-control" 
            [ngClass]="{'is-invalid': submitted && recipeForm.get('ingredients')['controls'][i].get('name').invalid}"
            type="text">
            <!-- {{recipeForm.get('ingredients').value | json}} -->
            <!-- {{recipeForm.get('ingredients').controls[i] }} -->
            <div class="invalid-feedback" *ngIf="recipeForm.get('ingredients')['controls'][i].get('name').invalid">Field cannot be empty</div>
          </div>
          <div class="col-3">
            <input 
            class="form-control" 
            [ngClass]="{'is-invalid': submitted && recipeForm.get('ingredients')['controls'][i].get('amount').invalid}"
            placeholder="0" 
            formControlName="amount" 
            type="number" >
            <div class="invalid-feedback" *ngIf="submitted && recipeForm.get('ingredients')['controls'][i].get('amount').invalid">
              <div *ngIf="recipeForm.get('ingredients')['controls'][i].get('amount').errors['required']">Required</div>
              <div *ngIf="recipeForm.get('ingredients')['controls'][i].get('amount').errors['pattern']">Must be >= 1</div>
            </div>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-danger" (click)="onDeleteIngredientsRow(i)">X</button>
          </div>
        </div>
      </div>
      <hr>
      <button class="btn btn-success" type="button" (click)="onAddIngredientsRow()">Add Ingredient</button>
    </div>
    <pre>
    </pre>
  </form>
</div>
<!-- In the formControlArray, try using 
recipeForm.get('ingredients').controls; let i = index"
recipeForm.get('ingredients').value; let i = index"
Either one SHOULD work -->
<!-- .controls -> Validation  -->
<!-- .value -> Stored value  -->
<!-- Tip - Hover ouver form attributs eg. formControlName for hints  -->
<!-- Dont use .value insted of .controls in let ingredientCtrl of recipeForm.get('ingredients')['controls'] -->
<!-- This will prevent entering 1+ character -->