<div class="row">
  <div class="col-xs-12 col-md-6">
    <div>
      <!-- <div class="alert alert-danger" role="alert" *ngIf="error" style="margin-top: 12px;">
        {{ error }}
      </div> -->
      <app-alert *ngIf="error" [message]="error" (close)="handleError()"></app-alert>
    </div>
    <div>
      <!-- Custom component to display an alert box  -->
      <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    </div>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" *ngIf="!isLoading">
      <!-- Email  -->
      <div class="form-group">
        <label for="email">Email</label>
        <input
        name="email"
        placeholder="Email"
        ngModel 
        required
        email
        minlength="6"
        type="text" 
        id="email" 
        class="form-control">
      </div>
      <!-- password  -->
      <div class="form-group">
        <label for="password">Password</label>
        <input 
        name="password"
        minlength="4"
        required
        placeholder="Password"
        ngModel
        type="password" 
        id="password" 
        class="form-control">
      </div>
      <div>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid"> {{ isLoginMode ? 'Login' : 'Sign Up' }} </button>
        <button type="button" class="btn btn-primary m-1" (click)="switchMode()">Switch To {{ isLoginMode ? 'Sign Up' : 'Login' }}</button>
      </div>
    </form>
  </div>
</div>